<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1096197971986-v4o869gljt5sgnliijd6hf2b7vk9kpi6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1096197971986-v4o869gljt5sgnliijd6hf2b7vk9kpi6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1096197971986-jpirsr83go48mlu6s4gonng27a9ljtts.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCyYPj2JsYdnuZbO3rhK0JDB4mY-uQFNAI</string>
	<key>GCM_SENDER_ID</key>
	<string>1096197971986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterDemos</string>
	<key>PROJECT_ID</key>
	<string>flutter-push-demo-c6b1a</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-push-demo-c6b1a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096197971986:ios:c049b99f259128f0c6f8cb</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-push-demo-c6b1a.firebaseio.com</string>
</dict>
</plist>